# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore compiled files
*.exe
*.dll
*.so
*.dylib

# Ignore macOS system files
.DS_Store

# Ignore environment-specific files
.env

# Ignore IDE or editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore npm debug log
npm-debug.log*
